node_modules/
node_modules
scripts/deploy.config.json
scripts/oss.config.json
.env.wechat-news.local
.env.local
.env.*.local
dist
dist/*
dist-test
dist-test/*
dist-meumall-test
dist-meumall-test/*
nginx
logs/
public/news/
public/.DS_Store
Untitled
.DS_Store
dist-test/index.html
package-lock.json
yarn.lock
